<a href="https://colab.research.google.com/github/Shwetarhonnikoppa/Python/blob/main/Python_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Module1 Case Study1:
1. Tuple Operations:
Create 1st tuple with values → (10, 20, 30)
Create 2nd tuple with values → (40, 50, 60)
(a) Concatenate the two tuples and store it in t_combine
(b) Repeat the elements of t_combine 3 times
(c) Access the 3rd element from t_combine
(d) Access the first three elements from t_combine
(e) Access the last three elements from t_combine
2.List with Tuples:
Create a list my_list with these elements:
(a) First element → tuple (1, 2, 3)
(b) Second element → tuple ("a", "b", "c")
(c) Third element → tuple (True, False)
3. Append to List:
(a) Append a new tuple (1, 'a', True) to my_list
(b) Append a new list ["sparta", 123] to my_list
4. Dictionary Operations:
Create a dictionary fruit where:
(a) Key 'Fruit' → Values ("Apple", "Banana", "Mango", "Guava")
(b) Key 'Cost' → Values (85, 54, 120, 70)
(c) Extract all the keys from fruit
(d) Extract all the values from fruit
5. Set Operations:
Create a set named my_set with values (1, 1, "a", "a", True, True) and print the result.

In [ ]:
# Task:1
'''Tuple Operations:
Create 1st tuple with values → (10, 20, 30)
Create 2nd tuple with values → (40, 50, 60)
(a) Concatenate the two tuples and store it in t_combine
(b) Repeat the elements of t_combine 3 times
(c) Access the 3rd element from t_combine
(d) Access the first three elements from t_combine
(e) Access the last three elements from t_combine'''

tuple1 = (10,20,30)
tuple2 = (40,50,60)
t_combine = tuple1 + tuple2
print("Combined tuple:",t_combine)
print("3 times repeated tuple:",t_combine*3)
print("3rd element:",t_combine[2])
print("First three elements:",t_combine[:3])
print("Last three elements:",t_combine[-3:])

Combined tuple: (10, 20, 30, 40, 50, 60)
3 times repeated tuple: (10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)
3rd element: 30
First three elements: (10, 20, 30)
Last three elements: (40, 50, 60)

In [ ]:
# Task:2
'''List with Tuples:
Create a list my_list with these elements:
(a) First element → tuple (1, 2, 3)
(b) Second element → tuple ("a", "b", "c")
(c) Third element → tuple (True, False)'''

my_list = [(1,2,3),("a","b","c"),(True,False)]
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

In [ ]:
# Task:3
#Append to List: (a) Append a new tuple (1, 'a', True) to my_list (b) Append a new list ["sparta", 123] to my_list
my_list.append([1,'a',True])
print("After appending tuple:",my_list)
my_list.append(["sparta",123])
print("After appending tuple:",my_list)

After appending tuple: [(1, 2, 3), ('a', 'b', 'c'), (True, False), [1, 'a', True]]
After appending tuple: [(1, 2, 3), ('a', 'b', 'c'), (True, False), [1, 'a', True], ['sparta', 123]]

In [ ]:
# Task:4
'''Dictionary Operations: Create a dictionary fruit where: (a) Key 'Fruit' → Values ("Apple", "Banana", "Mango", "Guava")
(b) Key 'Cost' → Values (85, 54, 120, 70) (c) Extract all the keys from fruit (d) Extract all the values from fruit'''
fruit = {'Fruit':('Apple','Banana','Mango','Guava'),
         'Cost':(85,54,120,70)}
print(fruit)
print("Keys:",fruit.keys())
print("Values:",fruit.values())

{'Fruit': ('Apple', 'Banana', 'Mango', 'Guava'), 'Cost': (85, 54, 120, 70)}
Keys: dict_keys(['Fruit', 'Cost'])
Values: dict_values([('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)])

In [ ]:
# Task:5
#Set Operations: Create a set named my_set with values (1, 1, "a", "a", True, True) and print the result.
my_set = {1,1,"a","a",True,True}
print("my_set:",my_set)

my_set: {1, 'a'}